#container { width: 1400px; margin:0 auto; position: relative; font-family: 'NanumSquareRound';}

.mypage_top { clear: both; border: 2px solid black; width: 100%;}
.mypage_top table { border: 2px solid black; width: 100%; line-height: 250px}
.mypage_top tr { height: 180px;}
.mypage_top th { width: 250px; background: black; color: white; font-size: 50px; line-height: 80px;}
.mypage_top td { font-size: 40px; line-height: 80px; text-align: center;}
	
#member_tab {float: left; margin-top: 10px; width: 20%; box-sizing: border-box;}
#member_tab h3 { text-indent: 20px; color: black; font-size: 1.5em; padding-top: 20px; padding-bottom: 20px;}
#member_tab ul { list-style: none;}
#member_tab ul li { margin-bottom: 15px; font-size: 1.2em; padding-top: 15px; margin-left: 40px;}
#member_tab a { text-decoration: none; color: black; font-size: 1.1em;}
#member_tab a:hover { color: #c23ca7; font-weight: bold;}
	
#order_list { float: right; width: 80%; box-sizing: border-box; padding-left: 60px; height: 800px; margin-top: 40px;}
#order_list a { text-decoration: none; color: blue;}
#order_list h3 { color: rgb(212, 142, 80);}
#order_list table { width: 100%; border-collapse: collapse; text-align: center; font-size: 1.2em; margin-bottom: 50px;}
#order_list tr { height: 100px;}
#order_list td { border-top: 1px solid darkgray; border-bottom: 1px solid darkgray;}