#container { width: 400px; margin: 50px auto; border: 1px solid gray; font-family: 'NanumSquareRound';}
#header {padding-top: 30px; text-align: center;}
h2 { text-align: center;}
table { width: 100%;}
tr { height: 40px;}
table, th, td { border: hidden; }
#first_row { background: black; color: white; font-weight: bold;}
td { text-align: center;}
a { text-decoration: none;}
input[type="text"] { width: 180px; height: 20px;}
input[type="submit"] { width:100px; background: black; color: white; border:2px solid black; box-shadow: none; height: 30px; font-family: 'NanumSquareRound';}

@font-face { 
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'NanumSquareRound'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}